<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>deleted</key>
	<array>
		<string>F61A9B5A-A31E-45C0-8A08-968A50664CC3</string>
	</array>
	<key>name</key>
	<string>Ali Karbassi’s Bundle</string>
	<key>ordering</key>
	<array/>
	<key>uuid</key>
	<string>4D1E739C-6331-4883-A556-DB7806CAD93C</string>
</dict>
</plist>
