<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset=utf-8>
      <title></title>

      <!-- Styles -->
      <link href="css/reset.css" rel="stylesheet">
      <link href="css/style.css" rel="stylesheet">

      <!-- Scripts -->
      <script src="js/html5.js"></script>
      <script src="js/jquery.pack.js"></script>
      <script src="js/local.js"></script>
   </head>
   <body>
      <header>
         <h1></h1>
      </header>

      <section>
      </section>

      <footer id="footer"><a href="http://creativecommons.org/licenses/GPL/2.0/">CC-GNU GPL</a> ${TM_YEAR} ${TM_ORGANIZATION_NAME}.</footer>
   </body>
</html>